/* font-family: 'Alata', sans-serif;
font-family: 'Roboto', sans-serif; */



* {
    top: 0;
    left: 0;
    
}


body {
    font-family: Alata, sans-serif;
}


h1 {
    font-size: 5rem;
    background: -webkit-linear-gradient(rgb(89, 130, 192), rgb(204, 102, 102));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    border: 2px solid black;
    
   
}

input {
    padding: 0.5rem;
    font-size: 1em;
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    background: rgb(233, 233, 233);
}



button {
    padding: 0.5rem;
    color: white;
    background-color:purple;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2px;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
}

p {
    text-align: center;
}


.desc {
    text-transform: capitalize;
}